<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/allpaintings.css">
    <title>Paintings</title>
</head>

<body>
    <div class="container">
        <div th:replace="fragments.html::header"></div>

        <div class="main">
            <ul class="paintingscontainer">
                <li class="paintings" th:each="painting:${paintings}">
                    <h2 class="name" th:text="${painting.title}"></h2>
                    <a th:href="'/paintings/' +${painting.id}"><img class="portrait" th:src="${painting.imgUrl}"></a>
                </li>
            </ul>
        </div>

        <div th:replace="fragments.html::footer"></div>
    </div>
</body>

</html>